a{
  text-decoration: none !important;
  cursor: pointer;
}
.button-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.button-container button i{
  padding:5px 20px !important;
  
}
.create-post-container{
  padding: 40px;
  max-width: 600px !important;
}
.create-post-container button{
  width: 100% !important;
}
.posts-container{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 60px;
  max-width: 600px !important;
}
.posts-container .post{
  margin: 30px !important;
}
.post .title{
  display: flex;
  justify-content: space-between;
}
.title i{
  font-size: 30px;
  transition: .3s ease;
}
.title i:hover{
  color: tomato;
}